<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Expert Business Valuation Services for Your Success</h1>
            <hr>
            <p>We specialize in delivering precise business valuations, providing critical insights into your business's
                true value. Whether you're planning a sale, seeking financing, or need market assessments, trust us for
                confidential, accurate, and actionable valuations.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>