<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Business Valuation Assessment</h3>
                    <p class="text-muted">Gain a precise understanding of your company's worth. We conduct thorough
                        assessments using industry-leading methods, ensuring you have a reliable valuation for critical
                        decision-making.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Financial Planning Guidance</h3>
                    <p class="text-muted">Let us help you chart a financial course. We provide insights and strategies
                        to help you maximize your business's potential and financial stability.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Mergers and Acquisitions Support</h3>
                    <p class="text-muted">Ensure a smooth transition. We assist in assessing target companies,
                        negotiating terms, and strategizing mergers or acquisitions to meet your business goals.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Exit and Succession Planning</h3>
                    <p class="text-muted">Plan for your business's future. We'll help you develop exit and succession
                        strategies, ensuring a seamless transition, whether you're passing on your business or selling
                        it for maximum value.</p>
                </div>
            </div>
        </div>
    </div>
</section>